
<div class="row" style="height:680px">
  <div class="col-sm-3"></div>
  <mat-tab-group class="col-sm-6" style="background-color:aliceblue; ">
    <mat-tab label="Welcome">
      <h3>
        Welcome to DustDisplay.
      </h3>
      <p>
        Please click on the second tab for the line chart or the third tab for the map.
      </p>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <i class="fas fa-chart-line"></i>
      </ng-template>
      <ng-template matTabContent>
        <app-line-chart></app-line-chart>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <i class="fas fa-globe"></i>
      </ng-template>
      <ng-template matTabContent>
        <app-map></app-map>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
