<div>
  <div>
    <strong >
      {{title}}
    </strong>
    <canvas baseChart height="140"
            [datasets]="lineChartData"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [legend]="lineChartLegend"
            [chartType]="lineChartType"
            [plugins]="lineChartPlugins"></canvas>
  </div>
</div>
