
<agm-map [latitude]="lat"
         [longitude]="lng"
         [zoomControl]="false"
         [disableDefaultUI]="true"
         [zoom]="15"
         >

  <agm-circle *ngFor="let m of markers; let i = index"
              [radius]="5+m.value"
              [fillColor]="m.isOverLimit? 'red' : 'green'"
              [fillOpacity]="0.8"
              [latitude]="m.latitude"
              [longitude]="m.longitude">
    <agm-marker
                [latitude]="m.latitude"
                [longitude]="m.longitude"
                [label]="m.label+' - '+ m.value+'ug/m3'"
                [iconUrl]="'http://maps.google.com/mapfiles/kml/pal2/icon15.png'">
    </agm-marker>
  </agm-circle>
</agm-map>
